[submodule "golang/references/github.com/golang/go.git"]
	path = golang/references/github.com/golang/go.git
	url = https://github.com/golang/go.git
[submodule "golang/references/github.com/golang/website.git"]
	path = golang/references/github.com/golang/website.git
	url = https://github.com/golang/website.git
[submodule "docker/references/github.com/docker/docs.git"]
	path = docker/references/github.com/docker/docs.git
	url = https://github.com/docker/docs.git
[submodule "svelte/references/github.com/sveltejs/svelte.git"]
	path = svelte/references/github.com/sveltejs/svelte.git
	url = https://github.com/sveltejs/svelte.git
[submodule "svelte/references/github.com/sveltejs/kit.git"]
	path = svelte/references/github.com/sveltejs/kit.git
	url = https://github.com/sveltejs/kit.git
[submodule "svelte/references/github.com/sveltejs/svelte.dev.git"]
	path = svelte/references/github.com/sveltejs/svelte.dev.git
	url = https://github.com/sveltejs/svelte.dev.git
[submodule "hugo/references/github.com/gohugoio/hugo.git"]
	path = hugo/references/github.com/gohugoio/hugo.git
	url = https://github.com/gohugoio/hugo.git
[submodule "hugo/references/github.com/gohugoio/hugoDocs.git"]
	path = hugo/references/github.com/gohugoio/hugoDocs.git
	url = https://github.com/gohugoio/hugoDocs.git
[submodule "docsy/references/github.com/google/docsy.git"]
	path = docsy/references/github.com/google/docsy.git
	url = https://github.com/google/docsy.git
[submodule "cve/references/github.com/CVEProject/cvelistV5"]
	path = cve/references/github.com/CVEProject/cvelistV5
	url = https://github.com/CVEProject/cvelistV5
[submodule "cve/references/github.com/CVEProject/cve-schema.git"]
	path = cve/references/github.com/CVEProject/cve-schema.git
	url = https://github.com/CVEProject/cve-schema.git
